<!DOCTYPE html>
<html lang="en">
<head>
  <title>AgriDrone</title>
  <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <link href="http://fonts.cdnfonts.com/css/aquire" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600&display=swap" rel="stylesheet"/>
  <script src="script.js" defer></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link  href="static/css/style.css"rel= "stylesheet">
  <link  href="static/css/footer.css"rel= "stylesheet">

</head>
<body>

{% block content %}

{% endblock %}

</body>
</html>



