{% extends "base.html" %}

{% block content %}
{% include "nav.html" %}
<div>
    <h1 style="text-align: center">Terms & Conditions</h1>
</div>

    
<div class="contact">
    <div class="cont">
    <form action="{{url_for('contact')}}" method="POST">
        <label for="name">Full Name</label>
        <div class="form-group">

            <input type="text" name="name" placeholder="Enter your name" required></input>
        </div>
        <label for="email">Email</label>
        <div class="form-group">
            <input type="email" name="email" placeholder="Enter your email" required></input>
        </div>
        <label for="topic">Topic</label>
        <div class="form-group">        
        <select id="topic" name="topic">
        <option selected disabled >-Select-</option>
          <option value="Order-Related Query">Order-Related Query</option>
          <option value="Service-Related Query">Service-Related Query</option>
          <option value="General-Enquiries">General-Enquiries</option>
          <option value="Research-Related-Enquiries">Research-Related-Enquiries</option>
        </select>

        </div>
        <label for="comment">Message</label>
        <div class="form-group">
            <input type="text" name="comment" placeholder="Query" required style="height:200px"></input>
        </div>
        <button class="btn" type="submit" value ="Submit Query">Submit Query</button>

    </form>  </div>

      <div class="cont">
          <h3><span><ion-icon name="map"></ion-icon></span>&nbsp
              MARA-Japan Industrial Institute,<br>
              Lot 2333 Jalan Kajang Seremban,<br>
              43700 Beranang, Selangor, Malaysia</h3>
          <p>
              <br><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7969.381701296483!2d101.864251!3d2.905087!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7f783f53f43fe208!2sMARA%20Japan%20Industrial%20Institute%20-%20Formerly%20Kolej%20Kemahiran%20Tinggi%20Mara%20Beranang!5e0!3m2!1sen!2smy!4v1646898627331!5m2!1sen!2smy" width="80%" height="360px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          </p>

  
          <h3><span><ion-icon name="call-sharp"></ion-icon></span>&nbsp
              +6 (03) 872 49344 / 55</h3><br>
  
          <h3><span><ion-icon name="print-sharp"></ion-icon></span>&nbsp
              +6 (03) 872 49275</h3><br>
  
          <h3><span><ion-icon name="mail"></ion-icon></span>&nbsp
              sitinurulaiman360@gmail.com</h3>
      </div>
</div>

{% include 'footer.html' %}
{% endblock %}


