{% extends 'base.html' %}

{% block content %}

<nav>
    <div class="footer">

    <div class="row">
        <div class="column">
            <br>  <h2>AgriDrone</h2>
            <a href="/#about"> About Us </a><br>
            <a href="/services">Our Services</a><br>
        </div>
        <div class="column">     
            <br> <h2>Support</h2>
            <a href="/contact"> Contact Us</a><br>
            <a href="/faq"> FAQ</a><br>
            <a href="/shipping">Shipping</a><br>
            <a href="/returnpolicy">Return & Refund</a><br>
        </div>

        <div class="column">     
            <br> <h2>Follow Us</h2>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a><br>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a><br>
        </div>
    </div>
            
    <div class ="cp"> MHW HARTA WATAN SDN. BHD. &copy 2022 &#8226
        <a href="/privacy">Privacy Policy | </a>
        <a href="/terms">Terms & Conditions </a></div>   
    </div>
</nav>


{% endblock %}