{% extends "base.html" %}

{% block content %}
{% include "nav.html" %}
<div class="main">

        <h1>Smart IoT <br>Agriculture Drone <br></h1>

</div>

<!----About section start---->
<div class="about" id = "about">
    <div class="title">
      <h2><i>About Us!</i></h2>
    </div>
    <div class="drone_logo">
            <img src="static/img/AgriDrone2.png" alt="drone" width="300px" height="300px" align="right" style="padding:35px">
    </div>
    <div class="about-text" style="padding:35px">
            <p>csccscscscsscs dchsdcushciuhsuchsuchsuchsdcuhsch<br>schsuchsuchsduchsduchsduchsuc chuishuchsdchsudhchsdc scuschsu cshcdsuchsudchs<br>cschsuchsudchsuchsuchsuch shcsuchsuchsuchuchsuc hcuschusdchusdch sdchsducodchach;<br>c hsdchsduochsd;uchsd ;shcosdchsch;sch;sdchsd;dchsdu<br>cscscscvfjnioksopkaxkakncjjcnac</p>
    </div>
</div>

<div class="service" id = "service" >
    <div class="title">
      <h1><i>Our Services</i></h1>
    </div>

    <div class="box">
      <div class="card">
        <ion-icon name="leaf-sharp"></ion-icon>
        <h5>Farming</h5>
        <div class="pra">
          <p>Every website should be built with two primary goals: Firstly, it needs to work across all devices. Secondly, it needs to be fast as possible.</p>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </div>

      <div class="card">
        <ion-icon name="eye"></ion-icon>
        <h5>Monitoring</h5>
        <div class="pra">
          <p>Every website should be built with two primary goals: Firstly, it needs to work across all devices. Secondly, it needs to be fast as possible.</p>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </div>

      <div class="card">
        <ion-icon name="bar-chart-sharp"></ion-icon>
        <h5>Fields And Soils Analysis</h5>
        <div class="pra">
          <p>Every website should be built with two primary goals: Firstly, it needs to work across all devices. Secondly, it needs to be fast as possible.</p>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </div>
    </div>
</div>
{% include 'footer.html' %}

{% endblock %}