{% extends 'base.html' %}

{% block content %}

<nav class="navbar">
      <div class="brand-title">
          <a  href="/">AgriDrone</a>
      </div>
      <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
      </a>
        <div class="navbar-links">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/portal">PORTAL</a></li>

            {% if session['admin_id'] %}

            <li><a href="/userlist">USERS</a></li>
            
            <li><a href="/query">QUERIES</a></li>
            <li><a href="/addinfo">INFO</a></li>
            <li><a href="/data">DATA</a></li>
            <div class="dropdown">
              <button class="dropbtn"><i class="fa fa-user" aria-hidden="true"></i></button>
            <div class="dropdown-content">
                <li><a href="/adminprofile">PROFILE</a></li>               
                <li><a href="{{url_for('logout')}}">LOGOUT</a></li>                    
            </div>

            {% elif session['id'] %}

            <li><a href="/hist">DATA</a></li>
            <li><a href="/classify">CLASSIFY</a></li>
            <div class="dropdown">
              <button class="dropbtn"><i class="fa fa-user" aria-hidden="true"></i></button>
              <div class="dropdown-content">
                <li><a href="/profile">PROFILE</a></li>               
                <li><a href="{{url_for('logout')}}">LOGOUT</a></li>              </div>
            </div>


            {% else %}
            
                <div class="dropdown">
                  <button class="dropbtn"><i class="fa fa-user" aria-hidden="true"></i></button>
                  <div class="dropdown-content">
                <li><a href="/admin_login">admin</a></li>
                <li><a href="/login">LOGIN</a></li>
                <li><a href="/register">REGISTER</a></li> </div></div>

            {% endif %}

        </ul>
      </div>
</nav>

<script>
  const toggleButton = document.getElementsByClassName('toggle-button')[0]
  const navbarLinks = document.getElementsByClassName('navbar-links')[0]
  
  toggleButton.addEventListener('click', () => {
      navbarLinks.classList.toggle('active')
  })
</script>


{% endblock %}