{% extends "base.html" %}

{% block content %}
{% include "nav.html" %}
<div>
    <h1 style="text-align: center">Portal</h1>
</div>
    <div class="cov">
        <br>
<center>
        {% for row in info %}
        <h1 style="text-align: center">{{row[2]}}</h1><br>
        <p style="font-style:italic; font-size: 12px; font-color: gray">posted on:{{row[6]}}</p>
        <p><img src="{{row[3]}}"</p>
        <p style="font-style:italic; font-size: 20px; font-weight: bold">{{row[5]}}</p><br>
        <p>{{row[4]}}</p><br>

        {% endfor %}
</center>
    </div>


{% include 'footer.html' %}
{% endblock %}
