{% extends "admin/js.html" %}

{% block content %}
{% include "nav.html" %}
<br><br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
  <h2>Blog Post</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Post</button>
  <table class="table table-striped">

    <thead>
      <tr>
        <th >No.</th>  
        <th>Topic</th>
        <th>Title</th>
        <th>Image</th>
        <th>Info</th>
        <th>Timestamp</th>
        <th>Update</th>
      </tr>
    </thead>

    <tbody>    
      {% for row in info %}    
              <tr>
                  <td>{{row[1]}}</td>
                  <td>{{row[5]}}</td>
                  <td>{{row[2]}}</td>
                  <td><img src="{{row[3]}}"></td>
                  <td>{{row[4]}}</td>
                  <td>{{row[6]}}</td>
                  <td>
                      <a href="/deleteinfo/{{ row[0] }}" class="btn btn-danger btn-xs" onclick="return confirm('Confirm Delete?')">Delete</a>
                      <a href="#!" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#editinfo{{ row[0] }}">Edit</a>
                  </td>
              </tr>
               <!-- Modal -->
  <div id="editinfo{{ row[0] }}"  class="modal fade" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Info</h4>
        </div>
        <div class="modal-body">
        <form action="{{ url_for('editinfo') }}" method="POST" enctype="multipart/form-data" >

          <div class="form-group">
            <label for="num">Post Number:</label>
            <input type="hidden" name="id" value="{{ row[0] }}">
            <input type="number" id="num" name="num" class="form-control" value="{{ row[1] }}">
          </div>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="hidden" name="id" value="{{ row[0] }}">
            <input type="text" id="title" name="title" class="form-control" value="{{ row[2] }}">
          </div>
          <div class="form-group">
            <label for="info_image">Image</label>
            <input type="hidden" name="id" value="{{ row[0] }}">

            <input type="file" id="info_image" name="info_image" class="form-control" value="{{ row[3] }}">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="hidden" name="id" value="{{ row[0] }}">
            <input type="text" id="description" name="description" class="form-control" value="{{ row[4] }}">
          </div>

          <div class="form-group">
            <label for="info_topic">Topic</label>
            <div class="form-group">
              <input type="hidden" name="id" class="form-control" value="{{ row[0] }}">        
              <select id="info_topic" name="info_topic" class="form-control">
              <option selected disabled >-Select-</option>
                <option value="Farming">Farming</option>
                <option value="Monitoring">Monitoring</option>
                <option value="Fields and Soils Analysis">Fields and Soils Analysis</option>
              </select>
            </div>
          
              </div>
              {{ msg }}
              <button onclick="return confirm('Confirm Update?')" type="submit" class="btn">Update</button>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>


          {% endfor %}
      </tbody>
   
  </table>    
</div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Info</h4>
        </div>
        <div class="modal-body">
        <form action="{{ url_for('addinfo') }}" method="POST" enctype="multipart/form-data" >

          <div class="form-group">
            <label for="num">Post Number:</label>
            <input type="number" id="num" name="num" class="form-control">
          </div>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
          </div>
          <div class="form-group">
            <label for="info_image">Image</label>
            <input type="file" id="info_image" name="info_image" class="form-control">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" class="form-control">
          </div>

          <div class="form-group">
            <label for="info_topic">Topic</label>
            <div class="form-group">        
              <select id="info_topic" name="info_topic">
              <option selected disabled >-Select-</option>
                <option value="Farming">Farming</option>
                <option value="Monitoring">Monitoring</option>
                <option value="Fields and Soils Analysis">Fields and Soils Analysis</option>
              </select>
            </div>
          
              </div>
              {{ msg }}
              <button type="submit" class="btn">Submit</button>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>



    {% include 'footer.html' %}


{% endblock %}