{% extends "base.html" %}

{% block content %}
<nav class="navbar">

      <a class = "log" href="/">AgriDrone</a>

</nav>

<div class="cover">

<form class ="form" action="{{url_for('admin_login')}}" method="POST">
  <h1 style="color:white">Admin Login</h1>

    <div class='msg'> {{ msg }} </div>

        <div class="form-group">
          <input type="email" id ="email" name="email" placeholder="Email ">
        </div>
        <div class="form-group">
          <input type="password" id ="pass" name="pass" placeholder="Password">
        </div>
          <button class="btn" type="submit"><b>Login</b></button>

          <p class="link">Don't have an account?<br>
              <a href="/admin_register">Sign up </a> here</p>
          <p class="liw">Log in with</p>

          <div class="icons">
              <a href="#">
                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<ion-icon name="logo-google"></ion-icon>
              </a>
              <a href="#">
                  <ion-icon name="logo-yahoo"></ion-icon>
              </a>
          </div>
  </form>
</div>
  {% endblock %}