{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
<div>
    <h1 style="text-align: center">History</h1>
</div>
    <div class="cov">
        <center>
            <h1>Queries / Comments </h1>
            <table >
                <thead>  
                    <tr>

                        <th >No.</th>  
                        <th>Name</th>
                        <th>Email</th>
                        <th>Topic</th>
                        <th>Comment/Query</th>
                        <th>Date Time</th>
                        <th>Delete</th>


                    </tr>
                </thead>    
                <tbody>    
                    {{msg}}
                {% for row in query %}    
                        <tr>
                            <td>{{row[0]}}</td>
                            <td>{{row[1]}}</td>
                            <td>{{row[2]}}</td>
                            <td>{{row[3]}}</td>
                            <td>{{row[4]}}</td>
                            <td>{{row[5]}}</td>
                            <td><button class="btn" ><a href="/deletequery/{{ row[0] }}" onclick="return confirm('Confirm Delete?')">Delete</a></button></td>


                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </center>
        <br>
    {% include 'footer.html' %}
    </div>

{% endblock %}