{% extends "admin/js.html" %}
{% block content %}
{% include "nav.html" %}

    <div class="cov">
        <br><br>
        <center>
            <h1>Registered Users</h1>
            <table >
                <thead>  
                    <tr>
                        <th >No.</th>  
                        <th>Email</th>
                        <th>Username</th>
                        <th>Registered Time</th>
                        <th>Delete</th>
                    </tr>
                </thead>    
                <tbody>    
                    {{msg}}
                {% for row in userlist %}    
                        <tr>
                            <td>{{row[0]}}</td>
                            <td>{{row[1]}}</td>
                            <td>{{row[2]}}</td>
                            <td>{{row[4]}}</td>
                            <td>
                                <a href="/deleteuser/{{ row[0] }}" class="btn btn-warning btn-xs" onclick="return confirm('Confirm Delete?')">Delete</a>
                                <a href="#!" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#edituser{{ row[0] }}">Edit</a>
                            </td>
                        </tr>

                        <div id="edituser{{ row[0] }}"  class="modal fade" role="dialog">
                            <div class="modal-dialog">
                            
                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Edit Info</h4>
                                </div>
                                <div class="modal-body">
                                <form action="{{ url_for('edituser') }}" method="POST" enctype="multipart/form-data" >
                        
                                  <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="hidden" name="id" value="{{ row[0] }}">
                                    <input type="email" id="email" name="email" class="form-control" value="{{ row[1] }}">
                                  </div>
                                  <div class="form-group">
                                    <label for="uname">Username</label>
                                    <input type="hidden" name="id" value="{{ row[0] }}">
                                    <input type="username" id="uname" name="uname" class="form-control" value="{{ row[2] }}">
                                  </div>
                                  
                                      </div>
                                      {{ msg }}
                                      <button onclick="return confirm('Confirm Update?')" type="submit" class="btn">Update</button>
                                    </form>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                              
                            </div>
                          </div>
                          
                        </div>

                    {% endfor %}
                </tbody>
            </table>
        </center>
        <br>
    {% include 'footer.html' %}
    </div>

{% endblock %}