.footer {
    font-family: 'Verdana';
    text-align: center;
    font-size: 12px;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    width: 100%;
    padding: 0.5px;
    position: static;
}

.footer .cp {
    margin: 10px;
}

.footer .column a {
    text-decoration: none;
    color: white;
    line-height: 1.5;
}

.footer .cp a {
    text-decoration: none;
    color: white;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row a:hover {
    color: #5CDB95;
}

.footer .column a i {
    font-size: 20px;
    text-align: justify;
    line-height: 1.2;
    word-spacing: 30px;
}